svg {
  -webkit-user-select: none;
  cursor: default;
}
body {
	position: hidden;
	overflow: hidden;
}
.text-style {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0%;
    font-family: 'Squada One';
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 0px;
    writing-mode: lr-tb;
    text-anchor: middle;
    display: inline;
    fill: #be129b;
    fill-opacity: 0.978307;
    stroke: none;
}

.tspan-style {
    font-size: 70px;
    line-height: 0.8;
    stroke: #be129b;
    stroke-width: 0px;
}

.speed-units {
    font-size: 65px;
    line-height: 1.25;
}

.pressure-Text {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0%;
    font-family: 'Squada One';
    -inkscape-font-specification: 'Squada One';
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 0px;
    writing-mode: lr-tb;
    text-anchor: middle;
    display: inline;
    fill: #be129b;
    fill-opacity: 1;
    stroke: none;
}

.pressureText {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 159.647px;
    line-height: 125%;
    font-family: 'Squada One';
    -inkscape-font-specification: 'Squada One';
    text-align: center;
    writing-mode: lr-tb;
    text-anchor: middle;
    fill: #be129b;
    fill-opacity: 1;
}